{% extends "base.html" %} {% block header %}{{title}}{% endblock %} {% block content %}
<div class="container">
        <div>
                {% if err %}
                <div class="alert alert-primary" role="alert">
                        {{err}}
                </div>
                {% endif %}
        </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

            {% if total %}
            <a href="/location"> {{total}} Saved Locations</a> <br>
            {% else %}
            <p> Please Save an location </p> 
            {% endif %}
            <a href="/auth/signout"> Sign Out</a>


            <div class="outer">
                <form method="Post">
                    <div class="form-group location">
                        <label for="InputLocation">Location</label>
                        <input type="text" class="form-control" id="inputLocation" name="InputLocation" placeholder="Enter Location">
                        <ul class="list-group list" id="placeList"   > </ul>
                    </div>

                    <div class="form-group notes">
                        <label for="InputNotes">Notes</label>
                        <textarea cols="10" rows="5" class="form-control"name="InputNotes" placeholder="Notes"></textarea>
                    </div>

                    <input type="hidden" class="form-control" id="inputPlaceId" name="InputPlaceId">

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>


    </div>
</div>


{% endblock %} {% block map%}
<script>

    function selectedPlace(place_id, place_name) {
        $("#inputPlaceId").val(place_id);
        $("#inputLocation").val(place_name);
        $("#placeList").html('');
    }

    $(document).ready(function () {

        var name_input = document.getElementById('inputLocation');
        name_input.addEventListener("keyup", function (event) { hinter(event) });


        function hinter(event) {

            // retireve the input element
            var input = event.target;
            var list = document.getElementById("#placeList");
            $("#placeList").empty();
            $.get('/location/map?input=' + input.value, function (data) {
                let select = "";
                for (i of data) {
                    select = `<li class="list-group-item" onclick="selectedPlace('${i.place_id}','${i.description}')">${i.description}</li>`;
                    $("#placeList").append(select);
                }


            });

         

        }


    });


</script> {% endblock%}