{% extends "base.html" %} {% block header %} {{title}} {% endblock %} {% block content %}

<div class="container">
    <h2>My saved Locations</h2>
    <a href="/">Back to Home</a>
    <br>
    <a href="/auth/signout"> Sign Out</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Location</th>
                <th>Coordinates</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for l in locations %}
            <tr>
                <td>{{l.location}}</td>
                <td>{{l.coordinates}}</td>
                <td>{{l.notes}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}