{% extends "base.html" %} {% block header %}{{title}}{% endblock %} {% block content %}

<div>
    {% if err %}
    <div class="alert alert-primary" role="alert">
        {{err}}
    </div>
    {% endif %}
</div>

<div class="centered">
    <div class="row">

        <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
                <form method="Post">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        {%if email %}
                        <input type="email" class="form-control" value="{{email}}" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email"> 
                        {% else %}
                        <input type="email" class="form-control" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email"> 
                        {% endif %}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" name="InputPassword" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a href="/signup">New User? Signup here</a>
            </div>
        </div>

    </div>

</div>


{% endblock %}