{% extends "base.html" %} {% block header %}{{title}}{% endblock %} {% block content %}

<div>
    {% if err %}
    <div class="alert alert-primary" role="alert">
        {{err}}
    </div>
    {% endif %}
</div>
<div class="centered">

    <div class="row">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
                <form method="Post">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="InputUsername">Username</label>
                        <input type="text" class="form-control" id="InputUsername" name="InputUsername" aria-describedby="usernameHelp" placeholder="Enter Username">
                        <small id="usernameHelp" class="form-text text-muted">Please write your username</small>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" name="InputPassword" class="form-control" id="InputPassword" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
                <a href="/auth">Aleardy an User?</a>
            </div>
        </div>

    </div>
</div>



{% endblock %}